<form [formGroup]="$any(form)">
    <ng-container *ngFor="let analyza of analyzy; let i = index">

        <div [formGroupName]="i" class="start row">

            <div class="col-1">
                <label for="{{FormName.DEN}}--{{i}}">Typ</label>
                <div>{{analyza.kod}}</div>
            </div>

            <div class="col-3">
                <label for="{{FormName.DEN}}--{{i}}">Den</label>
                <input class="form-control" [formControlName]="FormName.DEN" id="{{FormName.DEN}}--{{i}}">
            </div>

            <div class="col-4">
                <label for="{{FormName.PROVEDL}}--{{i}}">Provedl</label>
                <input class="form-control" [formControlName]="FormName.PROVEDL" id="{{FormName.PROVEDL}}--{{i}}">
            </div>

            <div class="col-4">
                <label for="{{FormName.VYSLEDEK}}--{{i}}">Výsledek</label>
                <input class="form-control" [formControlName]="FormName.VYSLEDEK" id="{{FormName.VYSLEDEK}}--{{i}}">
            </div>

        </div>

    </ng-container>
</form>