<div class="modal-header">
    <h4 class="modal-title">Nový vzorek</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">

    <form [formGroup]="form">
        <div class="form-group">
            <label [for]="FormNames.DRUH">Druh</label>
            <input class="form-control" [formControlName]="FormNames.DRUH" [id]="FormNames.DRUH">
        </div>

        <!-- <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect2">Example multiple select</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->

    </form>

</div>

<div class="modal-footer d-flex justify-content-between">
    <button (click)="onSave()" class="btn btn-primary">Uložit</button>
</div>