<div class="card login-box bg-light">
    <div class="card-body">
        <h5 class="card-title text-center">Přihlášení do aplikace Impakt</h5>

        <form [formGroup]="form" (ngSubmit)="onLogin()">
            <div class="mt-3 mb-2">
                <label for="{{FormName.USER}}">Uživatelské jméno</label>
                <input class="form-control" [formControlName]="FormName.USER" id="{{FormName.USER}}">
            </div>

            <div>
                <label for="{{FormName.PASS}}">Heslo</label>
                <div class="input-group">
                    <input class="form-control" [formControlName]="FormName.PASS" id="{{FormName.PASS}}"
                        [type]="passHidden ? 'password' : 'text'">
                    <button class="btn btn-outline-secondary btn-pass" (click)="passHidden = !passHidden">
                        <bi *ngIf="passHidden; else hidePassIcon" name="eye-fill"></bi>
                        <ng-template #hidePassIcon>
                            <bi name="eye-slash-fill"></bi>
                        </ng-template>
                    </button>
                </div>
            </div>

            <div class="text-center mt-5">
                <button class="btn btn-primary">Přihlásit</button>
            </div>

        </form>

    </div>
</div>